@import "tailwindcss";
@import "./styles/variables.css";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg);

    color:var(--text);

    font-family:"Inter",sans-serif;

    overflow-x:hidden;

}

main{

    position:relative;

    min-height:100vh;

}

h1,h2,h3{

    font-family:"Cormorant Garamond",serif;

    font-weight:600;

}