.background {
    position:fixed;
    inset:0;
    overflow: hidden;
    z-index: -10;
    background:var(--bg);
}

/*left glow*/

.gradient-one{
    position:absolute;
    width: 700px;
    height: 700px;
    left: -250px;
    top: -250px;
    border-radius: 50%;
    background: radial-gradient(circle,
        rgba(212,163,115,.25) 0%,
        transparent 70%
    );
    filter: blur(80px);
    animation:floatOne 18s ease-in-out infinite;
}

/*right glow*/

.gradient-two{
    position: absolute;
    width: 600px;
    height: 600px;
    right: -200px;
    bottom: -150px;
    border-radius: 50%;
    background: radial-gradient(
        circle, rgba(183,110,121,.18) 0%, 
        transparent 70%
    );
    filter: blur(90px);
    animation: floatTwo 22s ease-in-out infinite;
}

/*vignette*/

.vignette{
    position: absolute;
    inset:0;
    background: radial-gradient(
        circle, transparent 45%,
        rgba(0,0,0,.05) 100%
    );
    pointer-events: none;
}

.dust{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    box-shadow: 0 0 0px rgba(255,255,255,.8);
}

@keyframes floatOne{

    0%{

        transform:translate(0,0);

    }

    50%{

        transform:translate(50px,30px);

    }

    100%{

        transform:translate(0,0);

    }

}

@keyframes floatTwo{

    0%{

        transform:translate(0,0);

    }

    50%{

        transform:translate(-40px,-30px);

    }

    100%{

        transform:translate(0,0);

    }

}